// colors

$bg-color: white;
$main-font-color: blue;
$small-font: 1.2em;
$large-font: 1.5em;

@mixin twoColumns {
  padding-top: 40px;
  width: 45%;
  transform: translateY(-230%);
}

@mixin oneColumn {
  width: 95%;
  padding-bottom: 10px;
}

@mixin durationControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body,
html {
  height: 100%;
  position: relative;
  background: $bg-color;
  color: $main-font-color;
  font-size: $small-font;
}

#tomato {
  transition: all 1s ease;
  transform: translate(0, -75%);
  z-index: -1;
}

#tomato_stem {
  fill: whitesmoke;
}

#tomato_outline {
  fill: whitesmoke;
}

#container {
  width: 320px;
  height: 450px;

  background-color: azure;

  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#break_container,
#session_container {
  @include twoColumns;
}

#controls_container {
  // @include twoColumns;
  @include durationControls;
  transform: translateY(-600%);
}

#timer_container {
  @include oneColumn;
  font-size: $large-font;
  margin-top: 100px;
}

#break_controls_container,
#session_controls_container {
  @include durationControls;
}

.button,
.length_display {
  margin: 0 10px 0 10px;
  padding-top: 10px;
}
