// colors

$bg-color: white;
$main-font-color: rgb(26, 13, 13);
$small-font: 1em;
$large-font: 1.4em;

@mixin twoColumns {
  padding-top: 20px;
  width: 45%;
  // transform: translateY(-230%);
}

@mixin oneColumn {
  width: 95%;
  padding-bottom: 10px;
}

@mixin durationControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body,
html {
  height: 100%;
  position: relative;
  background: $bg-color;
  color: $main-font-color;
  font-size: $small-font;
  font-family: 'Sonsie One', cursive;
}

#tomato {
  transition: all 1s ease;
  transform: translate(0, -80%);
  z-index: -1;
}

#tomato_stem {
  fill: whitesmoke;
}

#tomato_outline {
  fill: whitesmoke;
}

#container {
  width: 310px;
  height: 450px;

  background-color: azure;

  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#controls_wrapper {
  background-color: rgb(47, 193, 241);
  transform: translateY(-120%);
  border-radius: 20px;
  border-right: 3px solid $main-font-color;
  border-left: 12px solid $main-font-color;
  border-top: 8px solid $main-font-color;
  border-bottom: 5px solid $main-font-color;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#break_container,
#session_container {
  @include twoColumns;
}

#controls_container {
  @include durationControls;
  padding-bottom: 20px;
  padding-top: 20px;
}

#timer_container {
  @include oneColumn;
  font-size: $large-font;
  margin-top: 100px;
  font-family: 'Baloo Bhai', cursive;
}

#timer-label,
#time-left {
  font-size: $large-font;
}

#break_controls_container,
#session_controls_container {
  @include durationControls;
  font-size: $large-font;
}

.button,
.length_display {
  margin: 0 10px 0 10px;
  padding-top: 10px;
}

.length_display {
  width: 30px;
}
.button {
  // width: 7px;
}

#start_stop {
  padding: 10px 30px;
  width: 55px;
  background-color: tomato;
  border: 5px solid $main-font-color;
  border-radius: 5px;
}

#start_stop:hover {
  background-color: #ff634794;
}

#reset {
  padding: 10px 30px;
  width: 55px;
  background-color: lightgreen;
  border: 5px solid $main-font-color;
  border-radius: 5px;
}

#reset:hover {
  background-color: #90ee908c;
}
